@using HalloDoc.Enums;
@model HalloDoc.Models.PatientDashboardViewModel;
@{
    Layout = "_Layout";
}


<div class="mt-2 h-100 d-flex flex-column align-items-center container-fluid">

    <div class=" container  backbtn w-100 d-flex justify-content-between align-items-start py-5">
        <h3>Documents</h3>
        <a asp-action="PatientDashboard" asp-controller="Patient" class="backbutton p-1"> &lt; Back  </a>
    </div>
    <div class=" container shadow-lg ">
        <div class="pt-5">Patient's Name</div>
        <h4 class="fs-5 fw-bold text-info">@ViewBag.PatientFirstName @ViewBag.PatientLastName <span class="fs-6 text-muted">(@ViewBag.ConfirmationNumber)</span></h4>
        <p>Check here for any files that you or the doctors of your subsequent requestors have attached for you to review.</p>
        <form asp-action="UploadDocuments" asp-controller="Patient" asp-route-reqId="@ViewBag.reqId" multiple enctype="multipart/form-data">
            <div class="input-group">
                <input asp-for="formFile" type="file" class="form-control" id="inputGroupFile">
                <button class="btn btn-info"> <i class="bi bi-cloud-arrow-up p-1"></i> Upload</button>
            </div>
        </form>

        <div class="p-1 mt-3 ">
            <div class="d-flex justify-content-between">
                <h5>Documents</h5>
                <button type="button" class=" btn btn-outline-info " data-bs-toggle="modal" data-bs-target="#examplemodal" onclick="create_request()">
                    <a asp-action="DownloadAll" asp-controller="Patient" asp-route-id="@ViewBag.RequestId"></a> DownloadAll
                </button>
            </div>
            <table class="table table-hover mt-5">
                <thead class="table-econdary">
                    <tr class="bg-secondary">
                        <th scope="col"><input type="checkbox" /></th>
                        <th scope="col"></th>
                        <th scope="col">Uploader</th>
                        <th scope="col">Uploaded Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        @foreach (var file in ViewBag.document)
                        {
                            <tr>
                                <th><input type="checkbox" /></th>
                                <td>@file.FileName</td>
                                <td>Ulode</td>
                                <td>@file.CreatedDate.ToString("MMM dd, yyyy")</td>
                                <td><a asp-action="Download" asp-controller="Patient" asp-route-documentid="@file.RequestWiseFileId" 
                                    asp-route-id="@file.RequestId" class="btn btn-sm btn-outline-info text-info"><i class="bi bi-cloud-download"></i></a>
                                 </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

